@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    overflow: hidden; /* no page-level scrolling */
    background: #f5f7fa; /* page background */
  }
}
